{% load static %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MMORPG</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body class="page">
	<header class="header">
        <div>
            <img class="img-header" src="{% static 'img/img_header.jpg' %}" alt="photo">
        </div>

		<nav class="menu">
                <ul class="menu-nav">
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/ads">Главная</a>
                    </li>
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/ads">Авторы</a>
                    </li>
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/ads">Топ</a>
                    </li>

                </ul>
                <ul class="menu-items">
                    {% if user.is_authenticated %}
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/ads/personal_area/">Личный кабинет</a>
                    </li>
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/accounts/logout">Выход {{ user.username }}</a>
                    </li>


                    {% else %}
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/accounts/login">Вход</a>
                    </li>
                    <li class="menu-items__item">
                        <a class="menu-items__link menu-items_red" href="/accounts/signup">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
		</nav>

	</header>

    <main class="main main__bg">
        <div class="sidebar-1">

        </div>
        <div class="content">
            {% block all_ads %}{% endblock all_ads %}
            {% block adt_detail %}{% endblock adt_detail %}
            {% block create_adt %}{% endblock create_adt %}
            {% block adt_delete %}{% endblock adt_delete %}
            {% block personal_area %}{% endblock personal_area %}
        </div>
        <div class="sidebar-2">

        </div>

    </main>



    <footer class="footer">

    </footer>

</body>



</html>



