{% extends 'default.html' %}

{% block personal_area %}



{% if title %}
    <form method="GET">
        {% csrf_token %}

        <label>Ваши бъявления:</label><br>
        <select type="search" name="q" required="">
            <option disabled="disabled" selected="selected" value="">--- Выберите объявление ---</option>
            {% for t in title %}
                {% comment "Comment" %}
                Здесь в q возвращается выбранный ранее элемент.
                Если текс элемента совпадает с текущим, то делаем его selected
                {% endcomment %}
                {% if t == q %}
                    <option selected name="id_t">{{t}}</option>
                {% else %}
                    <option name="id_t">{{t}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input type="submit" value="Показать отклики">
        <br><br>

        <label>Отклики на объявление:</label>
        <br><br>
        {% for resp in responses %}
            {{ resp.responseUser }}, {{ resp.dateCreation }} <br>
            {{ resp.text }}<br>

            {% if not resp.acceptResponse %}
                <button name="resp_accept" value={{resp.id}}>Принять</button>
            {% endif %}
            <button name="resp_delete" value={{resp.id}}>Удалить</button>

            <hr align="left" width=130px size="1" color="#313736" />
        {% endfor %}
    </form>


{% elif not title %}
    <label>У вас нет объявлений.</label><br>
{% endif %}


{% comment "Comment" %}


  <input type="hidden" name="id_responses" value={{responses.id}}>
            <input type="hidden" name="id_resp" value={{resp.id}}>
            <input type="hidden" name="id_t" value={{t.id}}>

{% endcomment %}


{% endblock personal_area %}